<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.vinuthana.vinvidya">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.otheractivities.ViewVideosActivity"></activity>
        <activity android:name=".activities.otheractivities.VideosActivity" />
        <activity android:name=".activities.examsection.PdfActivity" />
        <activity android:name=".activities.examsection.UploadAnswersActivity" />
        <activity android:name=".activities.examsection.WriteExamActivity" />
        <activity android:name=".activities.examsection.ExamImageUploadActivity" />
        <activity android:name=".activities.otheractivities.AdmissionFeesActivity" />
        <activity
            android:name=".activities.extraactivities.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.daytoday.AttendanceActivity"
            android:label="@string/title_activity_attendance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.daytoday.DaytoDay"
            android:label="@string/title_activity_dayto_day"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.daytoday.HomeWorkActivity"
            android:label="@string/title_activity_home_work"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.daytoday.HomeWorkFeedbackActivity"
            android:label="@string/title_activity_home_work_feedback"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.daytoday.TimeTableActivity"
            android:label="@string/title_activity_time_table"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.examsection.ExamMarksActivity"
            android:label="@string/title_activity_exam_marks"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.examsection.ExamScheduleActivity"
            android:label="@string/title_activity_exam_schedule"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.examsection.ExamSectionActivity"
            android:label="@string/title_activity_exam_section"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.examsection.ExamSyllabusActivity"
            android:label="@string/title_activity_exam_syllabus"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.otheractivities.SubjectSyllabusActivity"
            android:label="@string/title_activity_subject_syllabus"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.noticeboard.NoticeActivity"
            android:label="@string/title_activity_notice"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.noticeboard.NoticeboardActivity"
            android:label="@string/title_activity_noticeboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.noticeboard.ParentNoteActivity"
            android:label="@string/title_activity_parent_note"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.noticeboard.ReminderActivity"
            android:label="@string/title_activity_reminder"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.extraactivities.LandingActivity"
            android:label="@string/title_activity_landing"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.useractivities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.useractivities.AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.useractivities.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.useractivities.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.useractivities.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.extraactivities.ListActivity_new"
            android:label="@string/title_activity_list_new"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.otheractivities.OthersActivity"
            android:label="@string/title_activity_others"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.useractivities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.otheractivities.EventsActivity"
            android:label="@string/title_activity_events"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.otheractivities.MainGalleryActivity"
            android:label="@string/title_activity_main_gallery"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.otheractivities.GalleryDetailsActivity"
            android:label="@string/title_activity_gallery_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.otheractivities.SyllabusActivity"
            android:label="@string/title_activity_syllabus"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.otheractivities.GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.otheractivities.AssignmentActivity"
            android:label="@string/title_activity_Assignment"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.otheractivities.SingleViewImageActivity"
            android:label="@string/title_activity_gallery"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.otheractivities.GalleryPhotosActivity"
            android:label="@string/title_activity_gallery"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.extraactivities.MainActivity"
            android:label="@string/title_activity_splash_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.noticeboard.ClassNoticeActivity"
            android:label="@string/title_activity_class_notice"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.otheractivities.Message"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.daytoday.EditLeaveRequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.noticeboard.ParentsMessageActivity"
            android:label="@string/title_activity_parents_message"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.extraactivities.UpdateActivity"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>